<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="certBinding">
                    <security>
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="certBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceRolesAndCertAuthorization>
                        <ADGroupAccessList>
                            <adGroupAccess targetServiceNS="getuser" allowedGroups="adgroup1;gr2;gr3" />
                            <adGroupAccess targetServiceNS="http://tempuri.org/IService1/"
                                allowedGroups="group2;BizTalk_Users2" />
                            <adGroupAccess targetServiceNS="http://tempuri.org/IService1/GetData"
                                allowedGroups="group2;BizTalk_Users" />
                        </ADGroupAccessList>
                        <CertAccessList>
                            <certAccess targetServiceNS="getpayment" certThumbprints="cert1.cer" />
                            <certAccess targetServiceNS="checkbalance" certThumbprints="cert2pfx" />
                            <certAccess targetServiceNS="http://tempuri.org/IService1/" certThumbprints="5 a0 fe 1b a4 57 c2 9e c5 b3 55 40 88 49 8e 62 34 85 8a cf" />
                            <certAccess targetServiceNS="http://tempuri.org/IService1/GetData"
                                certThumbprints="e5 a0 fe 1b a4 57 c2 9e c5 b3 55 40 88 49 8e 62 34 85 8a cf" />
                        </CertAccessList>
                    </serviceRolesAndCertAuthorization>
                    <serviceCredentials>
                        <clientCertificate>
                            <authentication certificateValidationMode="None" revocationMode="NoCheck"
                                includeWindowsGroups="false" />
                        </clientCertificate>
                        <serviceCertificate findValue="e5 a0 fe 1b a4 57 c2 9e c5 b3 55 40 88 49 8e 62 34 85 8a cf"
                            x509FindType="FindByThumbprint" />
                    </serviceCredentials>
                    <serviceSecurityAudit auditLogLocation="Application" serviceAuthorizationAuditLevel="SuccessOrFailure"
                        messageAuthenticationAuditLevel="SuccessOrFailure" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="certBehavior" name="TestAuthZService.Service1">
                <endpoint address="" binding="wsHttpBinding" bindingConfiguration=""
                    name="windowsEndpoint" contract="TestAuthZService.IService1" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    name="mexEndpoint" contract="IMetadataExchange" />
                <endpoint address="/cert" binding="wsHttpBinding" bindingConfiguration="certBinding"
                    name="certEndpoint" contract="TestAuthZService.IService1" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:81/TestAuthZService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>