<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="certBehavior">
                    <clientCredentials>
                        <clientCertificate findValue="e5 a0 fe 1b a4 57 c2 9e c5 b3 55 40 88 49 8e 62 34 85 8a cf"
                            storeLocation="LocalMachine" x509FindType="FindByThumbprint" />
                        <serviceCertificate>
                            <authentication certificateValidationMode="None" revocationMode="NoCheck" />
                        </serviceCertificate>
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <wsHttpBinding>
                <binding name="windowsEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
                    transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" establishSecurityContext="true" />
                    </security>
                </binding>
                <binding name="certEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
                    transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Certificate" negotiateServiceCredential="true"
                            algorithmSuite="Default" establishSecurityContext="true" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:81/TestAuthZService" binding="wsHttpBinding"
                bindingConfiguration="windowsEndpoint" contract="TestAuthZService.IService1"
                name="windowsEndpoint">
                <identity>
                    <userPrincipalName value="PB9082@RIZIV.ORG" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:81/TestAuthZService/cert"
                behaviorConfiguration="certBehavior" binding="wsHttpBinding"
                bindingConfiguration="certEndpoint" contract="TestAuthZService.IService1"
                name="certEndpoint">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAA5aD+G6RXwp7Fs1VAiEmOYjSFis8gAAAAAQAAAMABAAAwggG8MIIBZqADAgECAhBwUKYZ/szpjE9GIBp/kPa9MA0GCSqGSIb3DQEBBAUAMBYxFDASBgNVBAMTC1Jvb3QgQWdlbmN5MB4XDTEwMDQxNDA2MzEyOFoXDTM5MTIzMTIzNTk1OVowFzEVMBMGA1UEAxMMdGVzdEF1dGhDZXJ0MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC6SaC5ZbKH2ZsrW9kh3KnkeZo8NSv04n7VnvW85poHQp4Ddafx/wte8V7tjVwHr61HPn2G7MwiZ2gb7V5IGyZV7UIhlpHAOkrmc9zf2tD/JsklnE6EOmGWRUl4jNpudlDWOnB13BermDXc1iUdbwNykJtLHjew6OUqQdLPajQsjQIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwDQYJKoZIhvcNAQEEBQADQQAjNMLP1VkJ+J+iGTQcl/rAX1Qo/RiePb5dq+sTtyQc0Vr85JD/5lmBt053jthpNF1By5Judx3dnOewewWbF6q3" />
                </identity>
            </endpoint>

			<endpoint address="http://bts-devpb9082:8000/TestRouter" binding="wsHttpBinding"
                bindingConfiguration="windowsEndpoint" contract="TestAuthZService.IService1"
                name="biztalkEndpoint">
				<identity>
					<userPrincipalName value="BTS_Dev-Su@RIZIV.ORG" />
				</identity>
			</endpoint>

			<endpoint address="http://bts-devpb9082:8000/TestRouter/Cert" binding="wsHttpBinding" behaviorConfiguration="certBehavior"
                bindingConfiguration="certEndpoint" contract="TestAuthZService.IService1"
                name="biztalkCertEndpoint">
				
			</endpoint>
        </client>
    </system.serviceModel>
</configuration>